@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
}

h1,h2,h3,h4,input,button,li{
    font-family: 'League Spartan', sans-serif;


}

 /* .swiper {
      width: 100%;
      height: 100%;
    } */

    .swiper-slide {
 
      text-align: center;
      border: 1px solid #eee;
      border-radius: 7px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide span {
        display: block;
        font-weight: bold;
        margin-top: 10px;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

   .img-details  {
        @apply invisible
    }


 .img-container:hover .img-details{
    @apply visible
 }

.active {
  @apply bg-amber-600/10 text-green-700 
}

.active-text {
  @apply text-cyan-700 hover:text-cyan-600 hover:duration-300 cursor-pointer
}

.active-btn{
  @apply bg-cyan-700 text-white 
}